@font-face {
    font-family: 'press_start_2pregular';
    src: url('pressstart2p-regular-webfont.woff2') format('woff2'),
         url('pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

footer {
	border-top: 1px solid #E5E5E5;
	padding-top: 20px;
	margin-top: 10px;
}

.fountain-container {
	margin-top: 50px;
	width: 362px;
	height: 600px;
	background-color: black;
}

.fountain-gif {
	margin-top: 11px;
}

.bouddha {
	margin-top: 24px;
	max-width: 100%;
}

.cat-concentrate {
	margin-top: 24px;
	max-width: 100%
}

.full-screen{
	margin-top: 24px;
	max-width: 83%;
}

.alert-container {
	margin-top: 10px;
}

.container {
	min-height: 700px;
}

.xp-thumbnail {
	height: 64px;
	width: 64px;
}

.jumbotron li {
	font-size: 16px;
}

.xp-desc {
	margin-bottom: 20px;
}

.xp-desc-text {
	font-size: 16px;
}

.key {
	width: 40px;
	height: 40px;
	margin: 10px;
}

.space-key {
	width: 80px;
	height: 40px;
	margin: 10px;
}

.xp-header {
	display: block;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0px;
}

:fullscreen div {
	max-width: 70% !important;
	margin-left: auto;
	margin-right: auto;
};

:-webkit-full-screen div {
	max-width: 70% !important;
	margin-left: auto;
	margin-right: auto;
}

:-moz-full-screen div {
	max-width: 70% !important;
	margin-left: auto;
	margin-right: auto;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
	background-color: black;
}

.innner {
	margin-left: auto;
	margin-right: auto;
}
